// google fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap');

// font-family
$font_family:'Noto Sans JP', sans-serif;

//font-size
$h2_fs:3.5rem;
$h3_fs:3.2rem;
$h4_fs:2.4rem;
$p_fs:2rem;
$base_fs:1.8rem;

